@model List<EmployeeDetails_PartialView.Models.Employee>

<h1>GetEmployeeList</h1>

@foreach (var item in Model)
{
    if (item.IsPermanent == true)
    {
        <div class="row">
            <span class="col-md-4"><b>@item.Name - @item.Salary </b></span>
        </div>
    }
    else
    {
        <div class="row">
            <span class="col-md-4">@item.Name - @item.Salary  </span>
        </div>
    }
}

